body{
  background-color: #fff !important;
}
.template-box{
  margin-top: 20px;
}
.text{
  opacity: 0;
  margin-top: -141%;
  width: 100%;
  min-height: 400px
}
.text h3{
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 100px;
}
.template-box:hover .text{
  opacity: 0.9;
  background-color: black;
  color: #fff;
}
.button-hover{
  background-color: $jobkartel;
  text-align: justify;
  color:#fff;
  padding: 10px;
  line-height: 50px;
  font-size: 1em;
}
.menu-margin{
  padding-left: 0px !important;
}
.menu-tepi a{
  color:#000;
  font-size: 30px;
  padding: 10px;
  line-height: 60px;
  transition: padding-left 0.5s ease;
}
.menu-tepi a:hover{
  padding-left: 50px;
  background-color: $jobkartel;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color:#000;
  text-decoration: none;
}
.affiliate_popup{
  padding-left: 50px;
  background-color: $jobkartel;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color:#fff;
  text-decoration: none !important;
  -webkit-animation: vibrate-1 0.3s linear infinite both;
	-moz-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}
.menu-tepi a:hover:after{
  content:attr(data);
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*.footer{
  position: absolute !important;
  bottom: 0;
  background: #000;
  min-height: 300px;
}
.footer h3{
  font-family: 'Lato';
  color:#FACE0E;
  font-weight: 900;
  margin-top: 0px;
}
.social{
  font-size: 1em;
  padding: 10px;
  background-color: #FACE0E;
  border-radius: 5px;
}
*/
.navbar{
  margin-bottom: 0px !important;
}
.navbar-default {
  background-color: #000 !important;
  border-color: transparent !important;
}
.navbar-default .navbar-nav > li > a{
  color: $jobkartel !important;
}
