$jobkartel:#FACF13;
.box-border{
  border: 3px solid $jobkartel;
  padding: 10px;
  margin:10px;
  border-radius:2px;
}
.box-margin{
  margin-top: 20px;
}
.taknak-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}
